@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Satisfy&display=swap');

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Helpers */
.grid-container {
  display: grid;
  width: 100%;
  min-height: 100vh;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 100vw;
  grid-template-rows: auto 1fr auto;
}

/* Globales */
html {
  font-family: 'Arima Madurai', cursive;
}

body {
  margin: 0;
}

p {
  font-size: 0.8em;
}

main {
  grid-area: main;
}

header {
  background-color: #3048448f;
  font-weight: bolder;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 3;
  backdrop-filter: blur(24px);
  grid-area: header;
}

/* estilos del navbar */
.navbar {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100px;
  padding: 0 1rem;
  justify-content: space-between;
  align-items: center;
}
.logo__link {
  text-align: center;
}
.logo__img {
  width: 100%;
  height: auto;
}
.menu {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  font-size: 0.7em;
}
.menu__item {
  display: inline-block;
}
.menu__link {
  text-decoration: none;
  color: rgb(216 236 235);
}
.menu__link:hover {
  background-color: #88cbb6ed;
  color: white;
  border-radius: 8px;
}
/* estilo de footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(48 73 72);
  padding: 2rem;
  width: 100%;
  color: #f8fffe;
  height: 90px;
  grid-area: footer;
  font-size: 0.8rem;
}
.separador {
  width: 100%;
  height: 50px;
  background-color: rgb(90 146 143);
}

/* index */
/* estilos de hero */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-image: url(../img/bgtest.jpg);
  background-attachment: fixed;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.textos__box {
  display: flex;
  width: 80%;
  height: 80%;
  padding: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.textos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
  color: rgb(216 236 235);
}
.textos__titulo {
  font-size: 96px;
  font-family: 'Courgette', cursive;
}
.socialmedia {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* estilos de previsualizacion de secciones */
.secciones {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: rgb(161 184 184 / 79%);
  padding: 5rem 0;
}
.seccion {
  display: inline-block;
  width: 80%;
  height: 280px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 20%;
}
.seccion__caption {
  color: #fff;
}
.seccion__servicios {
  background-image: url(../img/estetoscopio-cortado.jpg);
}
.seccion__recetas {
  background-image: url(../img/recetas.jpg);
}
.seccion__articulos {
  background-image: url(../img/Nutridatos.jpg);
}
.seccion__link {
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #2d4845;
  font-size: xx-large;
}
.seccion__link:hover {
  background-color: #8e927a;
  color: white;
}
.seccion div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
/* seccion contacto */
.contacto__seccion {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  padding-bottom: 2rem;
}
.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem auto;
  background-color: rgb(90 146 143 / 74%);
  border-radius: 10px;
  color: #6a5744;
  width: 90%;
}
.contacto__header {
  background-image: url(../img/Background-medico.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100px;
}

.contacto__formulario {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.contacto__subtitulo {
  text-align: center;
  font-size: 1.8em;
}
.contacto__formulario input,
.contacto__formulario textarea {
  width: 100%;
}
.contacto__mapa {
  display: none;
}

.submit {
  border: 3px solid #8e927a;
  border-radius: 18px;
  color: white;
  padding: 6px 24px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 21px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #b1896278;
}
.submit:hover {
  background-color: #88cbb6ed;
  color: white;
}
/* seccion perfil */
.perfil {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 7rem;
}
.licenciada {
  width: 273px;
  height: 340px;
  background-color: #486b6af5;
  border-radius: 10px;
  outline: auto;
  outline-offset: -8px;
  position: relative;
  overflow: hidden;
}
.licenciada__foto {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.6;
  transition: all 0.75s;
}
.licenciada:hover .licenciada__foto {
  transform: scale(1.15);
}
.licenciada__nombre {
  position: absolute;
  left: 15px;
  bottom: 15px;
  font-size: 20px;
  text-shadow: 0 0 1px rgba (0, 0, 0, 0.5);
  color: #fff;
  font-weight: bold;
}

.mapa {
  width: 350px;
  height: 344.4px;
}

/* nosotros */
/* contenido */
.sobremi {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  min-height: 100vh;
  background-image: url(../img/bg__nutridatos.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.sobremi__box {
  color: #e3e9df;
  padding: 2rem;
  background-color: #0909097a;
  backdrop-filter: blur(24px);
  border-radius: 6px;
  margin-top: 3rem;
  margin-bottom: 3rem;
  position: relative;
}
.sobremi__titulo {
  font-family: 'satisfy', cursive;
  font-size: xx-large;
}
.sobremi__foto {
  float: right;
  width: 100%;
  height: auto;
}
body > .servicios {
  min-height: 100vh;
}

/* Pagina Articulos-Nutridatos */
.articulos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url(../img/bg__nutridatos.jpg);
  background-attachment: fixed;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 7rem 1rem 0;
  color: #c7cbc3;
  margin: 0;
}
.articulos__titulo {
  font-family: 'courgette';
  font-size: 2em;
}
.articulo {
  display: flex;
  color: #e3e9df;
  padding: 2rem;
  background-color: rgb(158 238 234 / 37%);
  backdrop-filter: blur(24px);
  border-radius: 6px;
  position: relative;
  flex-direction: column-reverse;
  align-items: center;
  margin: 2rem;
  font-size: 0.8em;
  width: 100%;
}
.articulo__contenido {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}
.articulo__img {
  width: 100%;
  height: auto;
}
.textos__titulo {
  margin-top: 2rem;
  font-size: 3em;
}
.textos__slogan {
  font-size: 1em;
  text-align: center;
}

/* Pagina recetas */
.recetas {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url(../img/background-recetas.jpg);
  background-attachment: fixed;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #c7cbc3;
  padding: 9rem 0.5rem 0;
}
.recetas__titulos12 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}
.recetas__titulo {
  font-weight: bold;
  font-size: 2.8em;
  color: #3e4c39;
  font-family: 'Satisfy', cursive;
}
.recetas__subtitulo {
  font-style: italic;
  color: #56713e;
  font-family: 'Courgette', cursive;
  font-size: 1em;
  text-align: center;
}
.recetas__contenido {
  padding: 2rem;
  background-color: #0909097a;
  backdrop-filter: blur(24px);
  border-radius: 6px;
  margin-bottom: 3rem;
  position: relative;
}
.receta1__titulo {
  font-family: 'Satisfy', cursive;
  font-size: 1.7em;
  text-align: center;
}
.receta__personas {
  padding-bottom: 2rem;
  font-size: 1em;
  font-family: 'Satisfy';
}
.ingredientes {
  padding-bottom: 1rem;
  font-weight: bold;
  font-size: 1em;
}
.receta1__ingredientes {
  padding: 1rem;
  font-size: 0.8em;
}
.inicio__receta {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.recetas__detalle {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.receta1__img {
  height: auto;
  width: 50%;
}
.preparacion__titulo {
  padding-bottom: 1rem;
  font-weight: bold;
  font-size: 1.1em;
}
.receta1__preparacion {
  display: flex;
  padding-bottom: 2rem;
  flex-direction: column;
  gap: 1rem;
}
.receta1__fotopreparacion {
  height: auto;
  width: 100%;
  text-align: center;
}
.receta1__fotopreparacion img {
  height: auto;
  width: 60%;
  text-align: center;
}

/* Pagina planes y contacto */
.planes-contacto {
  padding-top: 7rem;
  background-image: url(../img/bgtest.jpg);
  background-attachment: fixed;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 3rem;
}
.planes {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 1rem;
  margin-bottom: 6rem;
}
.planes__titulo {
  font-weight: bold;
  font-size: 1.8em;
  color: #2d4845;
  font-family: 'courgette', cursive;
  margin-bottom: 4rem;
}
.planes__tabla {
  display: block;
  overflow-x: auto;
  width: 100%;
  background-color: #efbc756b;
  backdrop-filter: blur(24px);
  border-collapse: collapse;
  border-radius: 10px;
}
.planes__tabla td {
  padding: 0rem 1rem;
}
.planes__tabla th {
  padding: 1rem 2rem;
}
tr {
  border-bottom: 1px solid #3e4c39;
  border-width: initial;
}
.planes__header {
  font-size: 1.3em;
  font-weight: bolder;
  color: #2d4845;
}
.planes__links__item {
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
}
.planes__lista__item {
  font-size: 0.8em;
}
.planes__precios__item {
  font-size: 0.9em;
}
.planes__links {
  border-bottom: 0px;
}
.planes__link {
  text-decoration: none;
  color: #634c0e;
}
.planes__link:hover {
  background-color: rgb(201 255 232);
  border-radius: 8px;
}
.planes-contacto .contacto {
  margin-bottom: 3rem;
}
.planes__links__item {
  font-size: 1em;
}

/* Responsive-media queries */

@media screen and (min-width: 590px) {
  p {
    font-size: 1rem;
  }
  footer {
    flex-direction: row;
  }
  .menu {
    font-size: 18px;
  }
  .contacto {
    width: 50%;
  }
  .contacto__subtitulo {
    font-size: 2em;
  }
  .articulos {
    margin: 0;
    padding: 4rem 7rem 0;
  }
  .articulo {
    margin: 3rem;
  }
  .textos__titulo {
    font-size: 96px;
  }
  .textos__slogan {
    font-size: 1.5em;
  }
  .seccion {
    width: 40%;
  }
  .contacto__mapa {
    display: inline-block;
  }
  .sobremi {
    padding-top: 8rem;
    padding-left: 7rem;
    padding-right: 7rem;
  }
  .articulos {
    margin: 0;
    padding: 4rem 7rem 0;
    padding-top: 10rem;
  }
  .articulo {
    font-size: 1em;
  }
  .articulos__titulo {
    font-size: 50px;
  }
  .recetas {
    padding: 4rem 7rem 0;
    padding-top: 10rem;
  }
  .recetas__titulos12 {
    margin-bottom: 60px;
  }
  .recetas__titulo {
    font-size: 5em;
  }
  .recetas__subtitulo {
    font-size: 1.5em;
    text-align: center;
  }
  .receta1__titulo {
    font-size: 2em;
    text-align: center;
  }
  .receta__personas {
    font-size: 25px;
  }
  .ingredientes {
    font-size: 1.1em;
  }
  .receta1__ingredientes {
    font-size: 1em;
  }
  .planes {
    padding: 2rem;
    margin-bottom: 6rem;
  }
  .planes__tabla td {
    padding: 1rem 2rem;
  }
  .planes__titulo {
    font-size: 4em;
  }
  .planes__header {
    font-size: xx-large;
  }
  .planes__lista__item {
    font-size: 1em;
  }
  .planes__precios__item,
  .planes__links__item {
    font-size: 1.2em;
  }
}

@media screen and (min-width: 880px) {
  .footer {
    font-size: 1rem;
  }
  .planes__tabla {
    display: flex;
    width: 80%;
  }
  .articulo {
    width: 100%;
  }
  .sobremi__box {
    margin-top: 3rem;
  }
  .sobremi__foto {
    float: right;
    width: auto;
    height: 250px;
  }
  .contacto__header {
    width: 100%;
    height: 200px;
  }
}

@media screen and (min-width: 1050px) {
  .grid-container {
    grid-template-areas:
      'header header'
      'main main'
      'footer footer';
    grid-template-columns: 1fr 1fr;
  }
  .navbar {
    flex-direction: row;
  }
  .logo__img {
    width: auto;
    height: 90px;
  }
  .menu {
    width: 45%;
  }
  .secciones {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    padding: 5rem 1rem;
  }
  .seccion__caption {
    color: #fff;
  }
  .seccion {
    width: 30%;
  }
  .perfil {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .articulo {
    flex-direction: row-reverse;
    align-items: flex-start;
    width: 100%;
  }
  .articulo__img {
    width: auto;
    height: 250px;
  }
  .articulos__titulo {
    margin-top: 2rem;
  }
  /* Recetas */
  .inicio__receta {
    position: relative;
  }
  .recetas__detalle {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
  .receta1__img {
    height: 300px;
    width: auto;
  }
  .receta1__fotopreparacion img {
    height: auto;
    width: 40%;
    text-align: center;
  }
}
