// Import font

@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Satisfy&display=swap');

// Import misc

//Variables
@import './misc/variables';
//Normalize
@import './misc/normalize';
//Mixins y Helpers
@import './misc/mixins';

// Import partials

//Header
@import './partials/header';
//Footer
@import './partials/footer';

// Import views

//Home
@import './views/home';
//Recetas
@import './views/recetas';
//Articulos
@import './views/articulos';
//Nosotros
@import './views/nosotros';
//Contacto
@import './views/contacto';
