// Helpers
.grid-container {
  display: grid;
  width: 100%;
  min-height: 100vh;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 100vw;
  grid-template-rows: auto 1fr auto;
}
