// Helpers
.grid-container {
  display: grid;
  width: 100%;
  min-height: 100vh;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

// Mixin flexbox

@mixin flexbox($direction, $justify-content, $align-items, $flex: flex) {
  display: $flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
}
