/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arima Madurai', cursive !important;
}

/* Globales */
html {
  font-family: inherit;
}

body {
  margin: 0;
}

p {
  font-size: 0.8em;
  margin-bottom: 0;
}

header {
  background-color: $color-header;
  font-weight: bolder;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 3;
  backdrop-filter: $blur;
}
.card {
  border-radius: 4px;
  background: $color-principal;
  backdrop-filter: $blur;
  box-shadow: 0 6px 10px rgb(0, 0, 0), 0 0 6px rgb(0, 0, 0);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  cursor: pointer;
  margin: 1rem;
  &-title {
    font-size: 1.8em;
  }
  &:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
  }
  &-img-top {
    height: 228px;
    width: auto;
  }
}

//Media Queries Globales
@media screen and (min-width: 590px) {
  p {
    font-size: 1rem;
  }
}
