footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(97, 130, 129, 0.623);
  padding: 2rem;
  width: 100%;
  color: #112522;
  height: 90px;
  font-size: 0.8rem;
}
