.header {
  color: $color-secundario;
  font-size: 27px;
  padding: 10px;
}

//Navbar

.navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 50px;
  padding: 0 1rem;
  justify-content: space-between;
  align-items: center;
  & > .container,
  & > .container-fluid,
  & > .container-lg,
  & > .container-md,
  & > .container-sm,
  & > .container-xl,
  & > .container-xxl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: flex-end;
  }
  &-light {
    & .navbar-nav .nav-link {
      color: $color-principal !important;
    }
    & .navbar-toggler {
      border-color: rgb(255, 255, 255);
      background-color: #a574bfb0;
      margin: 0.5rem;
    }
  }
}

//Media Queries

@media screen and (min-width: 590px) {
  .navbar-brand img {
    height: 70px;
  }
}

@media screen and (min-width: 992px) {
  .navbar {
    height: 9vh;
    &-expand-lg &-nav .nav-link {
      padding-right: 2.5rem;
      padding-left: 0.5rem;
      font-size: 1.5em;
    }
  }
}

@media screen and (min-width: 1050px) {
  .navbar {
    flex-direction: row;
  }
  .logo__img {
    width: auto;
    height: 90px;
  }
}
