//Navbar

.navbar {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 50px;
  padding: 0 1rem;
  justify-content: space-between;
  align-items: center;
  & > .container,
  & > .container-fluid,
  & > .container-lg,
  & > .container-md,
  & > .container-sm,
  & > .container-xl,
  & > .container-xxl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: flex-end;
  }
  &-light {
    & .navbar-nav .nav-link {
      color: $color-principal !important;
    }
    & .navbar-toggler {
      border-color: rgb(255, 255, 255);
      background-color: #a574bfb0;
      margin: 0.5rem;
    }
  }
}
