.articulos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url(../img/bg__nutridatos__true.jpg);
  background-attachment: fixed;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 7rem 1rem 0;
  color: #2a1039;
  margin: 0;
}
.articulos__titulo {
  font-family: 'courgette' !important;
  font-size: 3em;
  font-weight: bold;
}

.textos__titulo {
  margin-top: 2rem;
  font-size: 3em;
}
.textos__slogan {
  font-size: 1em;
  text-align: center;
}
