.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-image: url(../img/bgtest.jpg);
  background-attachment: inherit;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.textos__box {
  display: flex;
  width: 80%;
  height: 80%;
  flex-direction: column;
  justify-content: flex-start;

  align-items: center;
}
.textos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
  color: rgb(216, 236, 235);
}
.textos__titulo {
  font-size: 96px;
  font-family: 'Courgette', cursive;
}
.socialmedia {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.slide-top {
  animation: slide-top 2s ease-in-out;
}
/* estilos de previsualizacion de secciones */
.secciones {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background: rgb(141, 103, 161);
  background: linear-gradient(
    0deg,
    rgba(141, 103, 161, 0) 0%,
    rgba(141, 103, 161, 0.45171572046787467) 100%
  );
  padding: 5rem 2rem;
}

.card {
  border-radius: 4px;
  background: #ffffffe6;
  backdrop-filter: blur(46px);
  box-shadow: 0 6px 10px rgb(0, 0, 0), 0 0 6px rgb(0, 0, 0);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  cursor: pointer;
  margin: 1rem;
}
.card-title {
  font-size: 1.8em;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}
.card-img-top {
  height: 228px;
  width: auto;
}
/* seccion contacto */
.contacto__seccion {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  padding-bottom: 2rem;
}

.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem auto;
  background-color: rgba(91, 149, 146, 0.24);
  border-radius: 10px;
  color: #6a5744;
  width: 90%;
}

.header {
  color: #755095;
  font-size: 27px;
  padding: 10px;
}

.bigicon {
  font-size: 35px;
  color: #755095;
}
.btn {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
  background-color: #8d67a1;
  border-color: #755095;
  margin: 1rem;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 3px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin: 0.2rem;
}
