.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-image: url(../img/bgtest.jpg);
  background-attachment: inherit;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.textos {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $color-principal;
  justify-content: center;

  &__box {
    display: flex;
    width: 98%;
    height: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__titulo {
    font-size: 50px;
    font-family: 'Courgette', cursive;
  }
  &__slogan {
    font-size: 1em;
    text-align: center;
  }
}
.socialmedia {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.slide-top {
  animation: slide-top 2s ease-in-out;
}
/* estilos de previsualizacion de secciones */
.secciones {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background: $color-terciario;
  background: linear-gradient(
    0deg,
    rgba(141, 103, 161, 0) 0%,
    rgba(141, 103, 161, 0.45171572046787467) 100%
  );
  padding: 5rem 2rem;
}

/* seccion contacto */

.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem auto;
  background-color: rgba(91, 149, 146, 0.24);
  border-radius: 10px;
  color: #6a5744;
  width: 90%;
  &__seccion {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    padding-bottom: 2rem;
  }
}

.bigicon {
  font-size: 35px;
  color: $color-secundario;
}
.btn {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
  background-color: $color-terciario;
  border-color: $color-secundario;
  margin: 1rem;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 3px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin: 0.2rem;
}

@media screen and (min-width: 590px) {
  .contacto {
    width: 50%;
    &__subtitulo {
      font-size: 2em;
    }
  }
  .textos {
    &__titulo {
      font-size: 96px;
    }
    &__slogan {
      font-size: 1.5em;
    }
  }
}
@media screen and (min-width: 880px) {
  .socialmedia {
    flex-direction: column;
  }
  .textos {
    &__box {
      flex-direction: row;
      justify-content: flex-end;
      gap: 4rem;
    }
  }
}

@media screen and (min-width: 1050px) {
  .secciones {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 5rem 1rem;
    gap: 7%;
    align-items: stretch;
  }
  .seccion {
    width: 20%;
    &__caption {
      color: #fff;
      font-size: 1em;
    }
  }
  .articulo {
    flex-direction: row-reverse;
    align-items: flex-start;
    width: 100%;
    &__img {
      width: auto;
      height: 250px;
    }
  }
  .articulos__titulo {
    margin-top: 2rem;
  }
}

/* Animaciones */
@keyframes slide-top {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0);
  }
}
