.sobremi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
  min-height: 100vh;
  background-image: url(../img/bg__nutridatos.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.sobremi__box {
  color: #000000;
  padding: 2rem;
  /* background-color: #0909097a;
    backdrop-filter: blur(24px); */
  border-radius: 6px;
  margin-top: 2rem;
  margin-bottom: 3rem;
  position: relative;
}
.sobremi__titulo {
  font-family: 'satisfy', cursive !important;
  font-size: 64px;
  font-weight: bold;
}
.sobremi__foto {
  width: 100%;
  height: auto;
}
body > .servicios {
  min-height: 100vh;
}
