.recetas {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url(../img/background-recetas.jpg);
  background-attachment: fixed;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #c7cbc3;
  padding: 4rem 0.5rem 0;
}
.recetas__titulos12 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}
.recetas__titulo {
  font-weight: bold;
  font-size: 2.8em;
  color: #3e4c39;
  font-family: 'Satisfy', cursive !important;
}
.recetas__subtitulo {
  font-style: italic;
  color: #56713e;
  font-family: 'Courgette', cursive !important;
  font-size: 1em;
  text-align: center;
}
.recetas__contenido {
  padding: 2rem;
  background-color: #0909097a;
  backdrop-filter: blur(24px);
  border-radius: 6px;
  margin-bottom: 3rem;
  position: relative;
  margin-top: 4rem;
  margin-left: 4rem;
  margin-right: 4rem;
}
.receta1__titulo {
  font-family: 'Satisfy', cursive;
  font-size: 1.7em;
  text-align: center;
}
.receta__personas {
  padding-bottom: 2rem;
  font-size: 1em;
  font-family: 'Satisfy';
}
.ingredientes {
  padding-bottom: 1rem;
  font-weight: bold;
  font-size: 1em;
}
.receta1__ingredientes {
  padding: 1rem;
  font-size: 0.8em;
}
.inicio__receta {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.recetas__detalle {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.receta1__img {
  height: auto;
  width: 50%;
}
.preparacion__titulo {
  padding-bottom: 1rem;
  font-weight: bold;
  font-size: 1.1em;
}
.receta1__preparacion {
  display: flex;
  padding-bottom: 2rem;
  flex-direction: column;
  gap: 1rem;
}
.receta1__fotopreparacion {
  height: auto;
  width: 100%;
  text-align: center;
}
.receta1__fotopreparacion img {
  height: auto;
  width: 60%;
  text-align: center;
}
